*{margin:0;
    padding:0;
    background-position: center;
}

ul{
    float:left;
    display:flex;
    justify-content: center;
    align-items: center content;

}
ul li{
    list-style:none;
    margin-left :62px;
    margin-top  :27px;
    font-size: 16px;
}
